PGHOST=ep-aged-scene-a1w11txt.ap-southeast-1.aws.neon.tech
PGDATABASE=tugasin-cms
PGUSER=neondb_owner
PGPASSWORD=npg_6kEstLGgF1YV
PGSSLMODE=require
PGCHANNELBINDING=require

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c3VyZS1zb2xlLTU3LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_roAlMtIgTkBnuB6lC37d0ZToHkYu1QDitnElTyAgt2
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/posts
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/posts
NEXT_PUBLIC_APPWRITE_PROJECT_ID=68dbeafc001332c9af2b
NEXT_PUBLIC_APPWRITE_PROJECT_NAME=tugasin
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://syd.cloud.appwrite.io/v1
NEXT_PUBLIC_BUCKET_NAME=tugasin-bucket
NEXT_PUBLIC_BUCKET_ID=68dbeb68001d67f6837d

REDIS_HOST=109.224.228.164
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=Jembut123!
REDIS_URL=redis://default:Jembut123!@109.224.228.164:6379

CMS_HOST=cms.tugasin.me
SITEMAP_HOST=tugasin.me